# Domain excluding 'https://' and 'daily.co' e.g. 'somedomain'
DAILY_DOMAIN=

# Obtained from https://dashboard.daily.co/developers
DAILY_API_KEY=

# Daily REST API endpoint
DAILY_REST_DOMAIN=https://api.daily.co/v1

# Run in demo mode (will create a demo room for you to try)
DAILY_DEMO_MODE=0